* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: lcd;
    src: url(../font/SUBWT___.ttf);
}

html {
    font-size: 62.5%;
    min-height: 100vh;
}

body {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 6rem;
    background: #222222;
    overflow: hidden;
}

main {
    height: auto;
    background-color: black;
    position: relative;
    z-index: 100;
}

main input {
    width: 100%;
    font-size: 3.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    background-color: black;
    color: darkgreen;
    text-align: right;
    padding: 2rem 0.4rem 2rem 0.4rem;
    font-family: sans-serif;
    border: 0.1rem solid yellow;
    border-radius: 0.4rem;
    min-height: auto;
}

main section#keyBoard {
    /** Grid eller liknade */
    display: grid;
    gap: 0.2rem;
    padding: 0.5rem 0.1rem;
}

main button {
    font-size: 3rem;
    min-height: 7rem;
    font-weight: 500;
}

main button:hover {
    color: green;
}

.square {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: linear-gradient(#303030, #757575);
    z-index: 2;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: #1cd99d;
    border-radius: 50%;
}

.triangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: #f5f5f5;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

@media (max-width: 767px) {
    body {
        font-size: 3rem;
    }
}

@media (max-width: 339px) {

    main input {
        padding: 1rem 0.4rem 1rem 0.4rem;
    }
}