* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: lcd;
  src: url(../font/SUBWT___.ttf);
}

html {
    font-size: 62.5%;
}

body {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 6rem;
}

main {
    height: auto;
    background-color: black;
}

main input{
    width: 100%;
    font-size: 3.5rem;
    margin-top: 1rem;
    margin-bottom:1rem;
    background-color: black;
    color: green;
    text-align: right;
    padding: 2rem 0.4rem 2rem 0.4rem;
    font-family: lcd;
    border: 0.1rem solid yellow;
    border-radius:0.4rem;
    min-height: auto;
}

main section#keyBoard {
    /** Grid eller liknade */
    display: grid;
    gap: 0.2rem;
    padding: 0.5rem 0.1rem;
}

main button {
    font-size: 3rem;
    min-height: 7rem;
    font-weight: 500;
}

main button:hover {
    color: green;
}

@media (max-width: 767px) {
    body {
        font-size: 3rem;
    }
}

@media (max-width: 339px) {

    main input{
        padding: 1rem 0.4rem 1rem 0.4rem;
    }
}